{% extends "M6ind2/base.html" %}
{% load static %}
{% block content %}

<!-- Banner de la pagina -->
<header>
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style=" background-image: url('https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80'); background-size: cover;
    background-repeat: no-repeat; background-position: center -400px; height: 400px;">
        <div class="mask" style="background-color: rgba(44, 44, 44, 0.527); height: 300px;">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white mb-5 mt-5">
                    <h1 class="mb-3">Usuarios Registrados</h1>
                    <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

<!-- Tarjetas con la informacion de los usuarios de la app -->
<section class="main-container">
    <div class="container mt-3">
        <div class="row justify-content-center align-items-center">
            {% for usuario in usuarios %}
            <div class="card card-Users mb-4 col-md-3 mx-3">
                <div class="d-flex flex-column align-items-center">
                    <div class="mt-3 usuarios">
                        <h5>Cliente ID {{ usuario.id }}</h5>
                    </div>
                    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#myModal{{ usuario.id }}">Ver Informacion</button>
                    <!-- Modal -->
                    <div class="modal" id="myModal{{ usuario.id }}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Usuario ID: {{ usuario.id }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul class="usuarios">
                                        <li>Nombre: {{ usuario.nombre }}</li>
                                        <li>RUT: {{ usuario.rut }}</li>
                                        <li>Teléfono: {{ usuario.telefono }}</li>
                                        <li>Email: {{ usuario.email }}</li>
                                        <li>Dirección: {{ usuario.direccion }}</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- Script para funcionamiento del modal -->
<script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>

{% endblock %}